<!DOCTYPE html>
    <head>
        <script type="module" src="javascripts/main.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <section class="header-container">
                <div class="loader">
                        <div class="wave wave--0 animate"></div>
                        <div class="wave wave--1 animate"></div>
                        <div class="wave wave--2 animate"></div>
                        <div class="wave-text">60</div>
                    </div>
            
        </section>

    </body>
</html>