<!DOCTYPE html>
    <head>
        <script type="module" src="javascripts/main.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <section class="score-section">
            <div class="score-container">
                <div class="score-text">dd 님의 점수는 0점 입니다</div>
                <div class="home-btn">메인으로</div>
            </div>
        </section>
        <section class="header-container">
            <div class="loader">
                <div class="wave wave--0 animate"></div>
                <div class="wave wave--1 animate"></div>
                <div class="wave wave--2 animate"></div>
                <div class="wave-text">20</div>
            </div>
        </section>
        <section class="main-container">
            <ul class="card-container">
                <li class="card lock" value="0"></li>
                <li class="card lock" value="1"></li>
                <li class="card lock" value="2"></li>
                <li class="card lock" value="3"></li>
                <li class="card lock" value="4"></li>
                <li class="card lock" value="5"></li>
                <li class="card lock" value="6"></li>
                <li class="card lock" value="7"></li>
                <li class="card lock" value="8"></li>
                <li class="card lock" value="9"></li>
                <li class="card lock" value="10"></li>
                <li class="card lock" value="11"></li>
                <li class="card lock" value="12"></li>
                <li class="card lock" value="13"></li>
                <li class="card lock" value="14"></li>
                <li class="card lock" value="15"></li>
            </ul>
            <ul class="stack-container"></ul>
        </section>
    </body>
</html>